<table class="subj2" cellspacing="0" cellpadding="0" >
   <tr>
     <td style="width: 70px; padding: 0px;" valign="top" rowspan="2" >
      <% @user = @post.office1 %>
        <% if @user %>
         <img src="/images/photo/<%= @user.pic%>.jpg" width="70px" />
        <% else %>
        <img src="/images/ava/qq.jpg" width="70px" />
        <% end %>

    </td>
    <td style="width:700px;" valign="top"  >


    <div class="ndt"  >
        <span class="name">
             <%= @user.last_name if @user %> <%= @user.name if @user %>
        </span>


      <span class="ddate">
      <%= @post.created_at.strftime("%d")+'.'+ @post.created_at.strftime("%m")+'.'+ @post.created_at.strftime("%Y")%>.
      </span>
<% if admin? %>
  <div style="float: right;">
 <%= link_to 'Редактировать', {:controller=>'forumthemes' , :action => 'edit' , :id => @forumtheme.id , :root => @forumtheme.forumroot_id } %>
  </div>
<% end %>

      <div class="title"> <%= raw  @post.title %>  </div>
      </div>


        <div class="text"><%= raw  @post.content %> </div>

     </td>
    </tr>

</table>