<div style="text-align: center; width: 80%;  padding: 10px; border: 1px solid  #41ad49; margin: 20px auto; background-color: papayawhip; " >

<%= link_to 'Сотрудники' , {:controller=>'office1s'} , :style=>'text-decoration: none; color: green;' %> &nbsp;&nbsp;|&nbsp;&nbsp;
<%= link_to 'Статус (отпуск. больничный)' , {:controller=>'status1s'} ,:style=>'text-decoration: none; color: green;'  %>&nbsp;&nbsp;|&nbsp;&nbsp;
<%= link_to 'Стена' , {:controller=>'editsubjs'} ,:style=>'text-decoration: none; color: green;'  %>&nbsp;&nbsp;|&nbsp;&nbsp;
<%= link_to 'Документы' , {:controller=>'works'} ,:style=>'text-decoration: none; color: green;'  %>&nbsp;&nbsp;|&nbsp;&nbsp;
<%= link_to 'Альбомы' , {:controller=>'albums'} ,:style=>'text-decoration: none; color: green;'  %>
<%= link_to 'На Главную' , {:controller=>'desk_subjs'} ,:style=>'text-decoration: none; color: navy; margin-left: 40px;'  %>
</div>