                    <div style="margin: 10px auto; text-align: center">
                        <h3>КУРСЫ ВАЛЮТ: </h3>
                        <p>
<%= @items[9]['Vnom']%> <%= @items[9]['VchCode']%>: <%= @items[9]['Vcurs']%>р.<br/>
<%= @items[10]['Vnom']%> <%= @items[10]['VchCode']%>: <%= @items[10]['Vcurs']%>р.<br/>
<%= @items[30]['Vnom']%> <%= @items[30]['VchCode']%>: <%= @items[30]['Vcurs']%>р.<br/>


                        </p>
                      </div>