<style type="text/css">

  .add_user p
  {
    width: 500px; text-align: right; display: inline-block; margin-bottom: 10px;
    }
.add_user legend {color: green;}
</style>

<div class="add_user">

  <fieldset>
    <legend>
      Авторизация
    </legend>
    <%= form_tag do %>
    <p>
     <%= label_tag 'Логин'%>
    <%= text_field_tag :login , params[:login] %>
    </p>

    <p>
     <%= label_tag 'Пароль'%>
    <%= password_field_tag :password , params[:password] %>
    </p>

      <div style="margin: 20px auto; text-align: center; ">
    <%=  submit_tag 'Авторизоваться', :style=>'padding: 5px; background-color: green; color: white; font-weight: bold; cursor: pointer;' %>
  </div>
   
    <% end %>
  </fieldset>

</div>